In [1]:
import pandas as pd

In [112]:
df = pd.read_csv(r'D:\即時值查詢 (4).csv', encoding='big5')

In [113]:
import numpy as np
# 指定要轉換為數字的欄位範圍
columns_to_convert = [str(i) for i in range(24)]

# 將 '*' 替換為 NaN
df[columns_to_convert] = df[columns_to_convert].replace('*', np.nan)

# 將 'x' 替換為 NaN
df[columns_to_convert] = df[columns_to_convert].replace('x', np.nan)

# 將 '#' 替換為 NaN
df[columns_to_convert] = df[columns_to_convert].replace('#', np.nan)

# 將指定範圍的欄位從字串轉換為浮點數
df[columns_to_convert] = df[columns_to_convert].astype(float)

df['日期'] = pd.to_datetime(df['日期'])

In [114]:
df.dtypes

測站            object
日期    datetime64[ns]
測項            object
0            float64
1            float64
2            float64
3            float64
4            float64
5            float64
6            float64
7            float64
8            float64
9            float64
10           float64
11           float64
12           float64
13           float64
14           float64
15           float64
16           float64
17           float64
18           float64
19           float64
20           float64
21           float64
22           float64
23           float64
dtype: object

In [115]:
df[df['測項'].isin(['O3'])].reset_index(drop=True)

,測站,日期,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,基隆,2023-08-14,O3,3.2,3.8,4.5,4.5,2.9,3.6,4.9,...,49.2,45.0,36.7,31.8,26.5,13.8,12.9,9.9,9.0,7.5
1,基隆,2023-08-15,O3,5.7,15.8,16.7,17.0,17.5,17.2,15.3,...,NaN,NaN,43.1,40.8,30.3,16.1,6.7,0.2,4.6,11.3
2,基隆,2023-08-16,O3,19.9,18.0,14.5,14.3,17.4,16.2,14.5,...,21.7,20.8,23.8,19.1,11.3,4.0,2.7,1.1,0.7,0.6
3,基隆,2023-08-17,O3,1.3,4.6,4.0,8.2,11.4,3.7,4.3,...,34.2,27.8,20.1,21.5,9.6,5.7,14.0,27.0,23.3,18.3
4,基隆,2023-08-18,O3,15.2,13.4,13.7,31.8,27.3,33.5,22.9,...,49.6,42.0,22.5,19.3,21.4,21.9,20.7,18.5,18.7,17.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,馬祖,2023-08-16,O3,38.3,34.7,36.8,23.2,33.7,29.6,26.6,...,71.1,78.9,77.5,78.2,71.9,61.7,58.0,51.8,52.7,45.5
542,馬祖,2023-08-17,O3,54.2,48.7,41.1,40.7,41.6,35.1,33.8,...,63.5,69.4,69.8,65.9,62.2,54.1,44.2,45.7,42.1,50.7
543,馬祖,2023-08-18,O3,45.5,31.7,30.8,38.0,28.6,34.1,27.6,...,79.0,75.4,70.9,68.0,67.2,65.7,62.1,52.3,42.0,49.1
544,馬祖,2023-08-19,O3,47.1,42.2,31.2,31.2,34.4,45.0,48.6,...,59.1,59.2,55.3,53.6,49.5,51.3,55.2,47.4,47.2,50.0
545,馬祖,2023-08-20,O3,47.6,42.2,39.0,37.4,39.0,37.6,29.5,...,54.3,59.2,62.5,60.6,51.0,53.1,42.0,36.3,46.4,51.1

In [116]:
# 創建一個新的 'daily_average' 欄位，並計算平均值（忽略遺失值）
df['daily_average'] = df.iloc[:, 3:27].mean(axis=1, skipna=True)

In [117]:
# 使用 unique() 函數獲取所有唯一的測站值
unique_stations = df['測站'].unique()

In [118]:
# 選取 column0 到 column23 的資料
selected_columns = df.iloc[:, 3:27]

# 找出每個索引中的最大值，並放入一個列表中
max_values_list = selected_columns.max(axis=1).tolist()

df['O3_daily_max'] = max_values_list

In [119]:
# 找出每個索引中前八大的值
top_eight_largest = selected_columns.apply(lambda row: row.nlargest(8), axis=1)

# 計算每個索引中前八大值的平均
average_top_eight = top_eight_largest.mean(axis=1)

# 將平均值轉換為一個列表
average_top_eight_list = average_top_eight.tolist()

df['O3_average_top_eight'] = average_top_eight_list

In [120]:
df.isna().sum()

測站                        0
日期                        0
測項                        0
0                        26
1                        28
2                        16
3                        14
4                        18
5                        26
6                        13
7                        13
8                        27
9                        38
10                      130
11                      132
12                      110
13                      124
14                      138
15                       98
16                       71
17                       41
18                       33
19                       24
20                       20
21                       22
22                       26
23                       23
daily_average             5
O3_daily_max              5
O3_average_top_eight      5
dtype: int64

In [121]:
missing_indexes = df[df['daily_average'].isna()].index

In [122]:
df.iloc[missing_indexes, :]

,測站,日期,測項,0,1,2,3,4,5,6,...,17,18,19,20,21,22,23,daily_average,O3_daily_max,O3_average_top_eight
1494,線西,2023-08-17,PM2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1495,線西,2023-08-18,PM2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1496,線西,2023-08-19,PM2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1738,朴子,2023-08-16,PM2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1739,朴子,2023-08-17,PM2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
df['測項'].unique()

array(['CO', 'NOx', 'O3', 'PM2.5', 'SO2'], dtype=object)

In [124]:
station_df = pd.DataFrame()
station_df['測站'] = df['測站'].unique()
for i in df['測項'].unique():
    lst = []
    for j in df['測站'].unique():
        # 過濾出測站為基隆且測項為CO的資料
        filtered_df = df[(df['測站'] == j) & (df['測項'] == i)]
        lst.append(filtered_df['daily_average'].mean())
    station_df[i] = lst

In [125]:
col = ['測站', '日期', '測項', 'O3_daily_max', 'O3_average_top_eight']
df[col][df['測項'].isin(['O3'])].reset_index(drop=True)

     測站         日期  測項  O3_daily_max  O3_average_top_eight
0    基隆 2023-08-14  O3          49.2               43.2750
1    基隆 2023-08-15  O3          51.8               40.9875
2    基隆 2023-08-16  O3          24.5               22.6250
3    基隆 2023-08-17  O3          53.7               41.1875
4    基隆 2023-08-18  O3          58.3               50.9500
..   ..        ...  ..           ...                   ...
541  馬祖 2023-08-16  O3          78.9               69.7500
542  馬祖 2023-08-17  O3          71.8               66.4125
543  馬祖 2023-08-18  O3          79.0               70.7625
544  馬祖 2023-08-19  O3          59.2               55.4625
545  馬祖 2023-08-20  O3          62.5               55.3875

[546 rows x 5 columns]

In [126]:
station_df

    測站        CO        NOx         O3      PM2.5       SO2
0   基隆  0.292277  12.070730  24.464286   9.542749  1.047438
1   士林  0.275628  13.944535  23.656331   9.866718  0.698810
2   大同  1.153369  53.441604  12.922494  13.559265  1.336649
3   中山  0.465054  23.053560  19.850139   9.577122  0.827588
4   古亭  0.291064  13.158437  23.330682   9.701605  0.448268
..  ..       ...        ...        ...        ...       ...
73  臺東  0.172887   6.111025  17.526359   5.418866  0.510041
74  關山  0.126967   3.155108  15.811827   3.371636  0.440890
75  馬公  0.150013  10.970400  30.675801   5.907867  0.637371
76  金門  0.205216   9.170887  39.087728  11.689935  1.234253
77  馬祖  0.212676   4.717381  45.264622   8.575569  0.791874

[78 rows x 6 columns]

In [127]:
# 設定 '北部' 的地區列表
north_region = ['基隆', '陽明', '萬華', '士林', '大同', '中山', '古亭', '松山', '板橋',
                '林口', '汐止', '永和', '三重', '土城', '新店', '新莊', '萬里', '菜寮',
                '淡水', '富貴角', '觀音', '桃園', '龍潭', '大園', '中壢', '平鎮']

# 設定 '竹苗區' 的地區列表
zhu_miao_region = ['新竹', '湖口', '竹東', '三義', '苗栗', '頭份']

# 設定 '中部' 的地區列表
central_region = ['豐原', '忠明', '大里', '西屯', '沙鹿', '竹山', '南投', '埔里', '線西', '彰化', '二林', '大城']

# 設定 '雲嘉南' 的地區列表
yun_jia_nan_region = ['斗六', '臺西', '崙背', '麥寮', '嘉義', '新港', '朴子', '安南', '新營', '臺南', '善化']

# 設定 '高屏' 的地區列表
gao_ping_region = ['復興', '美濃', '鳳山', '橋頭', '楠梓', '左營', '仁武', '大寮', '小港', '前金', '前鎮', '林園', '屏東', '恆春', '潮州']

# 設定 '宜蘭' 的地區列表
yilan_region = ['宜蘭', '冬山']

# 設定 '花東' 的地區列表
hua_tung_region = ['花蓮', '關山', '臺東']

# 設定 '其他' 的地區列表
other_region = ['馬公', '金門', '馬祖']

region_lst = [north_region, zhu_miao_region, central_region, yun_jia_nan_region, gao_ping_region, 
              yilan_region, hua_tung_region, other_region]

r_name_lst = ['北部', '竹苗', '中部', '雲嘉南', '高屏', '宜蘭', '花東', '其他']

In [128]:
region_df = pd.DataFrame()
for i in range(len(region_lst)):
    tmp = station_df[station_df['測站'].isin(region_lst[i])].mean()
    region_df[r_name_lst[i]] = tmp
region_df = region_df.T

C:\Users\joe1029\AppData\Local\Temp\1\ipykernel_50816\2177606250.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tmp = station_df[station_df['測站'].isin(region_lst[i])].mean()
C:\Users\joe1029\AppData\Local\Temp\1\ipykernel_50816\2177606250.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tmp = station_df[station_df['測站'].isin(region_lst[i])].mean()
C:\Users\joe1029\AppData\Local\Temp\1\ipykernel_50816\2177606250.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tmp = station_df[station_df['測站'].isin(region_lst[i])].mean()
C:\Users\joe1029\AppData\Local\Temp\1\ipykernel_50816\2177606250.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tmp = station_df[station_df['測站'].isin(region_lst[i])].mean()
C:\Users\joe1029\AppData\Local\Temp\1\ipykernel_50816\2177606250.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tmp = station_df[station_df['測站'].isin(region_lst[i])].mean()
C:\Users\joe1029\AppData\Local\Temp\1\ipykernel_50816\2177606250.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tmp = station_df[station_df['測站'].isin(region_lst[i])].mean()
C:\Users\joe1029\AppData\Local\Temp\1\ipykernel_50816\2177606250.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tmp = station_df[station_df['測站'].isin(region_lst[i])].mean()
C:\Users\joe1029\AppData\Local\Temp\1\ipykernel_50816\2177606250.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tmp = station_df[station_df['測站'].isin(region_lst[i])].mean()

In [129]:
region_df

           CO        NOx         O3     PM2.5       SO2
北部   0.371707  17.714126  24.521376  9.496384  0.959730
竹苗   0.191033   6.607098  26.752886  6.937288  0.843826
中部   0.199076   6.879036  23.868397  8.270206  0.988629
雲嘉南  0.205451   6.865159  22.420740  7.407399  1.124055
高屏   0.296226  13.269258  15.815879  7.699974  1.393753
宜蘭   0.215176   7.584369  26.597567  7.445652  0.854904
花東   0.163505   4.564270  19.272304  4.878408  0.499138
其他   0.189302   8.286223  38.342717  8.724457  0.887833

In [ ]:
pip install xlwings

In [222]:
# 使用 pivot_table 函式進行轉換，使用 mean() 作為聚合函式
kk = df[df['測項'].isin(['CO'])]

pivot_df = kk.pivot_table(index='測站', columns='日期', values='daily_average', aggfunc='mean')

# 調整索引的順序以匹配原始 DataFrame df 的測站順序
pivot_df = pivot_df.reindex(index=df['測站'].unique())
length = len(pivot_df.index)
value = 'CO'
co_list = [value] * length

pivot_df.insert(0, '測項', co_list)

pivot_df['周平均'] = station_df['CO'].to_list()

In [223]:
pivot_df

日期,測項,2023-08-14 00:00:00,2023-08-15 00:00:00,2023-08-16 00:00:00,2023-08-17 00:00:00,2023-08-18 00:00:00,2023-08-19 00:00:00,2023-08-20 00:00:00,周平均
測站,,,,,,,,,
基隆,CO,0.255000,0.252609,0.335000,0.345417,0.306667,0.267917,0.283333,0.292277
士林,CO,0.242727,0.197083,0.265417,0.298333,0.361667,0.288750,0.275417,0.275628
大同,CO,1.257083,1.097083,1.002500,1.446500,1.480000,0.795833,0.994583,1.153369
中山,CO,0.423478,0.427917,0.547917,0.555652,0.442917,0.372500,0.485000,0.465054
古亭,CO,0.215833,0.218696,0.336667,0.392083,0.306667,0.263750,0.303750,0.291064
...,...,...,...,...,...,...,...,...,...
臺東,CO,0.149375,0.160000,0.164167,0.252917,0.195417,0.157500,0.130833,0.172887
關山,CO,0.118333,0.117391,0.113043,0.130833,0.152500,0.130833,0.125833,0.126967
馬公,CO,0.149583,0.149583,0.142174,0.162083,0.170000,0.153750,0.122917,0.150013
金門,CO,0.145000,0.180000,0.205909,0.263333,0.175455,0.223182,0.243636,0.205216
馬祖,CO,0.137083,0.187917,0.269565,0.283333,0.312500,0.145833,0.152500,0.212676

In [189]:
coll = ['測站', '日期', '測項']
kk = df[coll][df['測項'].isin(['CO'])]

   測站         日期  測項
0  基隆 2023-08-14  CO
1  基隆 2023-08-15  CO
2  基隆 2023-08-16  CO
3  基隆 2023-08-17  CO
4  基隆 2023-08-18  CO

In [105]:
import xlwings as xw

In [250]:
# 創建一個新的 Excel 工作簿，並設定為可見
app = xw.App(visible=True)
wb = app.books.add()

# selected_columns = ['測站', '日期', '測項', 'daily_average']
for i in df['測項'].unique():
    a = df[df['測項'].isin([i])]
    sheet = wb.sheets.add(i)
    
    # 使用 pivot_table 函式進行轉換，使用 mean() 作為聚合函式

    pivot_df = a.pivot_table(index='測站', columns='日期', values='daily_average', aggfunc='mean')

    # 調整索引的順序以匹配原始 DataFrame df 的測站順序
    pivot_df = pivot_df.reindex(index=df['測站'].unique())
    
    length = len(pivot_df.index)
    value = i
    co_list = [value] * length

    pivot_df.insert(0, '測項', co_list)
    
    pivot_df['周平均'] = station_df[i].to_list()
    
    sheet.range('A1').value = pivot_df

# 將 'station_df' 插入到 'A1' 位置
sheet = wb.sheets.add('周間值')
sheet.range('A1').value = station_df

sheet.range('J1').value = region_df



# # 保存 Excel 工作簿
# wb.save(r'D:\output.xlsx')

# # 關閉 Excel 應用程式
# wb.close()
# app.quit()

In [251]:
# 刪除 A 欄的資料
sheet = wb.sheets['周間值']

sheet.range('A:A').clear_contents()

n = 2
j = 0
for i in region_lst:
    former = n
    last = n + len(i)
    sheet.range(f'A{former}:A{last}').value = r_name_lst[j]
    
    n += len(i)
    j += 1
    
    
n = 2
j = 0 
for i in region_lst:
    cell_range = sheet.range(f'A{former}:A{last}')
    cell_range.merge()

In [252]:
for sheet_index in range(1, 6):
    # 選取工作表
    sheet = wb.sheets[sheet_index]  # 替換為工作表索引或名稱

    # 要插入新的欄位的位置，這裡假設在 A 欄前插入新欄位
    insert_column_index = 1

    # 在指定位置插入新的欄位
    sheet.api.Columns(insert_column_index).Insert()

In [253]:
if sheet.range('B2').value in region_lst[0]:
    print('y')

y

In [254]:
for sheet_index in range(1, 6):
        # 選取工作表
    sheet = wb.sheets[sheet_index]  # 替換為工作表索引或名稱
    for j in range(len(region_lst)):
        for n in range(2, 548):
            if sheet.range(f'B{n}').value in region_lst[j]:
                sheet.range(f'A{n}').value = r_name_lst[j]
            else:
                pass

In [255]:
col = ['測站', '日期', 'O3_daily_max', 'O3_average_top_eight']
O3_expand = df[col][df['測項'].isin(['O3'])].reset_index(drop=True)

In [256]:
O3_expand 

pivot_df_O3 = O3_expand .pivot_table(index='測站', columns='日期', values='O3_daily_max', aggfunc='mean')


new_column_names = ['2023-08-14_daily_max','2023-08-15_daily_max', '2023-08-16_daily_max',
                    '2023-08-17_daily_max', '2023-08-18_daily_max', '2023-08-19_daily_max', '2023-08-20_daily_max']  # 根據您的需求進行調整

# 使用 rename 方法更正 column 名稱
pivot_df_O3.rename(columns=dict(zip(pivot_df_O3.columns, new_column_names)), inplace=True)
pivot_df_O3 = pivot_df_O3.reindex(index=df['測站'].unique())
print(pivot_df_O3)

pivot_df_O3_top8 = O3_expand .pivot_table(index='測站', columns='日期', values='O3_average_top_eight', aggfunc='mean')


new_column_names_t8 = ['2023-08-14_top8','2023-08-15_top8', '2023-08-16_top8',
                    '2023-08-17_top8', '2023-08-18_top8', '2023-08-19_top8', '2023-08-20_top8']  # 根據您的需求進行調整

# 使用 rename 方法更正 column 名稱
pivot_df_O3_top8.rename(columns=dict(zip(pivot_df_O3_top8.columns, new_column_names_t8)), inplace=True)
pivot_df_O3_top8 = pivot_df_O3_top8.reindex(index=df['測站'].unique())
print(pivot_df_O3_top8)

日期  2023-08-14_daily_max  2023-08-15_daily_max  2023-08-16_daily_max  \
測站
基隆                  49.2                  51.8                  24.5
士林                  37.9                  47.3                  26.3
大同                  24.7                  29.9                  14.5
中山                  34.8                  37.1                  24.0
古亭                  41.3                  42.0                  26.3
..                   ...                   ...                   ...
臺東                  24.7                  24.7                  32.9
關山                  24.6                  27.8                  28.4
馬公                  29.9                  26.5                  33.2
金門                  58.3                  66.3                  70.7
馬祖                  65.5                  61.1                  78.9

日期  2023-08-17_daily_max  2023-08-18_daily_max  2023-08-19_daily_max  \
測站
基隆                  53.7                  58.3                  49.7
士林                  52.5                  62.1                  49.1
大同                  32.7                  46.8                  39.8
中山                  50.6                  64.0                  53.3
古亭                  51.6                  77.9                  51.0
..                   ...                   ...                   ...
臺東                  18.1                  37.4                  39.2
關山                  21.1                  35.6                  33.2
馬公                  61.6                  52.0                  38.0
金門                  79.3                  68.7                  69.5
馬祖                  71.8                  79.0                  59.2

日期  2023-08-20_daily_max
測站
基隆                  66.4
士林                  52.1
大同                  47.2
中山                  52.3
古亭                  57.1
..                   ...
臺東                  26.7
關山                  25.7
馬公                  53.0
金門                  50.0
馬祖                  62.5

[78 rows x 7 columns]
日期  2023-08-14_top8  2023-08-15_top8  2023-08-16_top8  2023-08-17_top8  \
測站
基隆          43.2750          40.9875          22.6250          41.1875
士林          30.1250          41.7875          19.7250          46.1500
大同          17.9875          24.5500          11.4625          18.2250
中山          24.6250          31.4000          16.8375          38.1500
古亭          34.8750          31.1750          21.6125          45.0250
..              ...              ...              ...              ...
臺東          18.5750          23.7375          26.4375          14.0875
關山          23.0750          24.8875          24.7375          16.6250
馬公          28.1125          24.9250          31.3125          54.3500
金門          48.2375          54.3625          55.1375          60.4625
馬祖          54.4875          47.9750          69.7500          66.4125

日期  2023-08-18_top8  2023-08-19_top8  2023-08-20_top8
測站
基隆          50.9500          43.7500          55.8250
士林          51.0000          42.7500          40.3750
大同          34.2500          30.9375          34.1500
中山          48.6250          41.4500          38.7125
古亭          55.6625          45.2250          44.8375
..              ...              ...              ...
臺東          34.9750          36.7375          24.0750
關山          29.7625          30.3625          23.8750
馬公          47.0125          34.5125          43.1625
金門          63.5625          63.4125          43.6625
馬祖          70.7625          55.4625          55.3875

[78 rows x 7 columns]

In [247]:
pivot_df_O3_top8[new_column_names_t8]

日期,2023-08-14_top8,2023-08-15_top8,2023-08-16_top8,2023-08-17_top8,2023-08-18_top8,2023-08-19_top8,2023-08-20_top8
測站,,,,,,,
基隆,43.2750,40.9875,22.6250,41.1875,50.9500,43.7500,55.8250
士林,30.1250,41.7875,19.7250,46.1500,51.0000,42.7500,40.3750
大同,17.9875,24.5500,11.4625,18.2250,34.2500,30.9375,34.1500
中山,24.6250,31.4000,16.8375,38.1500,48.6250,41.4500,38.7125
古亭,34.8750,31.1750,21.6125,45.0250,55.6625,45.2250,44.8375
...,...,...,...,...,...,...,...
臺東,18.5750,23.7375,26.4375,14.0875,34.9750,36.7375,24.0750
關山,23.0750,24.8875,24.7375,16.6250,29.7625,30.3625,23.8750
馬公,28.1125,24.9250,31.3125,54.3500,47.0125,34.5125,43.1625
金門,48.2375,54.3625,55.1375,60.4625,63.5625,63.4125,43.6625
馬祖,54.4875,47.9750,69.7500,66.4125,70.7625,55.4625,55.3875

In [257]:
a = df[df['測項'].isin(['O3'])]

pivot_df = a.pivot_table(index='測站', columns='日期', values='daily_average', aggfunc='mean')

# 調整索引的順序以匹配原始 DataFrame df 的測站順序
pivot_df = pivot_df.reindex(index=df['測站'].unique())

length = len(pivot_df.index)
value = 'O3'
co_list = [value] * length

pivot_df.insert(0, '測項', co_list)

pivot_df['周平均'] = station_df['O3'].to_list()
# 使用 pd.concat 合併多個 DataFrame，axis=1 表示橫向合併
combined_df = pd.concat([pivot_df, pivot_df_O3, pivot_df_O3_top8], axis=1)

combined_df

日期,測項,2023-08-14 00:00:00,2023-08-15 00:00:00,2023-08-16 00:00:00,2023-08-17 00:00:00,2023-08-18 00:00:00,2023-08-19 00:00:00,2023-08-20 00:00:00,周平均,2023-08-14_daily_max,...,2023-08-18_daily_max,2023-08-19_daily_max,2023-08-20_daily_max,2023-08-14_top8,2023-08-15_top8,2023-08-16_top8,2023-08-17_top8,2023-08-18_top8,2023-08-19_top8,2023-08-20_top8
測站,,,,,,,,,,,,,,,,,,,,,
基隆,O3,21.733333,23.050000,14.337500,21.304167,31.429167,29.687500,29.708333,24.464286,49.2,...,58.3,49.7,66.4,43.2750,40.9875,22.6250,41.1875,50.9500,43.7500,55.8250
士林,O3,16.581818,25.641667,14.687500,27.041667,31.833333,26.545833,23.262500,23.656331,37.9,...,62.1,49.1,52.1,30.1250,41.7875,19.7250,46.1500,51.0000,42.7500,40.3750
大同,O3,8.554167,13.675000,7.795833,10.264706,16.826087,17.841667,15.500000,12.922494,24.7,...,46.8,39.8,47.2,17.9875,24.5500,11.4625,18.2250,34.2500,30.9375,34.1500
中山,O3,13.054545,19.158333,10.995833,19.738095,29.912500,26.162500,19.929167,19.850139,34.8,...,64.0,53.3,52.3,24.6250,31.4000,16.8375,38.1500,48.6250,41.4500,38.7125
古亭,O3,18.800000,19.277273,13.245833,24.000000,33.325000,29.570833,25.095833,23.330682,41.3,...,77.9,51.0,57.1,34.8750,31.1750,21.6125,45.0250,55.6625,45.2250,44.8375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
臺東,O3,15.043750,16.378261,17.208333,9.495833,20.725000,25.204167,18.629167,17.526359,24.7,...,37.4,39.2,26.7,18.5750,23.7375,26.4375,14.0875,34.9750,36.7375,24.0750
關山,O3,15.195833,15.095652,15.191304,10.029167,17.912500,19.895833,17.362500,15.811827,24.6,...,35.6,33.2,25.7,23.0750,24.8875,24.7375,16.6250,29.7625,30.3625,23.8750
馬公,O3,23.650000,20.533333,26.043478,41.881818,42.761111,28.365217,31.495652,30.675801,29.9,...,52.0,38.0,53.0,28.1125,24.9250,31.3125,54.3500,47.0125,34.5125,43.1625
金門,O3,33.820833,34.920833,35.356522,40.575000,52.731818,43.877273,32.331818,39.087728,58.3,...,68.7,69.5,50.0,48.2375,54.3625,55.1375,60.4625,63.5625,63.4125,43.6625
馬祖,O3,39.858333,30.204167,51.356522,52.658333,50.441667,47.745833,44.587500,45.264622,65.5,...,79.0,59.2,62.5,54.4875,47.9750,69.7500,66.4125,70.7625,55.4625,55.3875

In [258]:
col = ['O3_daily_max', 'O3_average_top_eight']
O3_expand = df[col][df['測項'].isin(['O3'])].reset_index(drop=True)

sheet = wb.sheets['O3']


sheet.range('B1').value = combined_df

In [259]:
# 保存 Excel 工作簿
wb.save(r'D:\output.xlsx')

# 關閉 Excel 應用程式
wb.close()
app.quit()